body {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: Arial, Helvetica, sans-serif;
     color: rgb(45, 44, 43);
}

header {
     padding: 15px;
     background: #011627;
     height: 15px;
}

.logoContainer {
     background: #011627;
     height: 20%;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 15px;
}

.sidenav {
     width: 14%;
     background: #011627;
     position: absolute;
     height: 93.7vh;
     padding: 0 0px;
     margin: 0;
     left: -100%;
     transition: all 1s;
}

.sidenav.active {
     left: 0;
}

.logo {
     width: 55px;
}

ul {
     padding: 0;
}

ul li {
     list-style-type: none;
     margin: 0 0;
}

ul li a {
     color: rgb(198, 196, 196);
     text-decoration: none;
     font-size: 16px;
     padding: 0px 10px;
     height: 50px;
     display: flex;
     align-items: center;

}

ul li a:hover,
ul li a.active {
     background: #172b4d;
}

header svg {
     font-size: 20px;
     color: white;
}

.main {
     height: 90vh;
     display: flex;
     justify-content: center;
     align-items: center;

}

.main-transition {
     transition: margin-left 1s ease;
     /* 1 saniyede marginLeft'i değiştir */
}